/* Import Zen Grids */
@import "zen";
@import "zen/background";

$zen-column-count: 3;
$zen-gutter-width: 20px;

$primary-color: #FF5A5F;
$darker-primary: darken($primary-color, 60);
$other-primary: desaturate(darken($primary-color, 36), 73);
$complementary: darken(adjust_hue($primary-color, 197), 54);

@mixin our-border() {
  border-width: 1px;
  // border-style: none;
  // border-bottom-style: solid;
  border-color: $darker-primary;
}

// Import buttons and grid after vars and mixins
@import "buttons";


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $darker-primary;
}

h1, h2, h3, h4, h5 {
  font-family: "Gill Sans", Georgia, sans-serif;
}

article.center h1 {
  color: $other-primary;
}

.region-footer a {
  color: $complementary;
}

.region h2 {
  color: $primary-color;
  transform: rotate(-8deg);
  text-align: center;
}

.region ul {
  list-style: none;
}





/* Zen grids layout */
.container {
  @include zen-grid-container;
  // @include zen-grid-background();
}

.center {
  @include zen-grid-item(2, 1);
  @include our-border();
}

.block_a, .block_b {
  @include our-border();
  border-bottom-style: solid;
  border-left-style: solid;
}

.block_a {
  @include zen-grid-item(1, 1, right);
}

.block_b {
  @include zen-clear(right);
  @include zen-grid-item(1, 1, right);
}

.footer {
  @include zen-clear(both);
  @include zen-grid-item(3, 1);
  // @include our-border();
}
